
/* https://www.shutterstock.com/image-vector/wasd-keys-game-control-keyboard-buttons-1488113183?id=1488113183&irgwc=1&utm_medium=Affiliate&utm_campaign=Freepik+Company%2C+S.L.&utm_source=39422&utm_term=5daecfd8c3f33.5daecfd8c3f34 */
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.06);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

:root {
  --star: #d63031;
  --planet: #10ac84;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
  font-family: 'Noto Sans TC', Helvetica Neue, Helvetica, Arial;
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
}

#welcome {
  top: 50%;
  left: 50%;
  width: 85%;
  height: 85%;
  transform: translate(-50%, -50%);
  background-color: #ecf0f1;
  position: relative;
  border-radius: 20px;
  overflow-y: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

h1 {
  width: 100%;
  text-align: center;
  padding: 75px 0 0;
  letter-spacing: 5px;
  position: relative;
  background-image: url(./../logo1.png);
  background-position: center;
  background-size: 720px;
  background-repeat: no-repeat;

}

h1 .thin {
  font-weight: 200;
}

#star,
#planet {
  display: inline-block;
  background: #bdc3c7;
  border-radius: 15px;
  vertical-align: top;
  padding: 20px 0 0 30px;
  max-height: 85%;
  overflow-y: auto;
  margin: 0 50px 40px 0;
}

h2 {
  padding-bottom: 10px;
}

#star h2 {
  color: var(--star);
}

#planet h2 {
  color: var(--planet);
}

.model {
  width: 250px;
  height: 250px;
}

.configs {
  margin-top: 20px;
  width: 550px;
}

#planet .configs {
  width: 700px;
}

.config {
  display: inline-block;
}

.dropdown-menu .config {
  display: block;
}

.config > label {
  font-size: 24px;
  font-weight: 500;
  color: #d63031;
  font-family: 'Noto Sans TC';
}

.buttons1 {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-40%);
}

.buttons {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-40%);
}

.help {
  position: absolute;
  bottom: 10px;
}

.buttons > button, .buttons1 > button {
  font-size: 22px;
  padding: 5px 25px;
}

.green-planet .range-slider .range-value,
.green-planet .range-slider input[type="range"] {
  background: var(--planet);
}

.green-planet>label {
  color: var(--planet);
}

#star .range-slider {
  margin: 40px 20px 0;
}

.range-slider {
  background-color: #fff;
  border-radius: 15px;
  display: inline-block;
  white-space: nowrap;
  padding: 3px 15px;
  margin: 10px 15px;
}

.range-slider input[type="range"] {
  background: var(--star);
  width: 0;
  height: 7px;
  transform: translateY(-50%);
  border-radius: 5px;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
  position: relative;
  opacity: 0;
  margin-left: -15px;
  transition: all 1s;
}

.expand input[type="range"]{
  margin-left: 0;
  width: 200px;
  opacity: 1;
  transition: all .5s;
}

.dropdown-menu input[type="range"] {
  margin-left: 0;
  width: 200px;
  opacity: 1;
  transition: all .5s;
}

.range-slider input[type="range"]::-webkit-slider-thumb {
  background: #fff;
  width: 32px;
  height: 32px;
  border: 4px solid var(--star);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.15s ease-in-out 0s;
  -webkit-appearance: none;
  appearance: none;
}

.range-slider input[type="range"]::-webkit-slider-thumb:hover,
.range-slider input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 2px #fff, 0 0 10px #000;
}

.range-slider input[type="range"]::-moz-range-thumb {
  background: #fff;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: 4px solid var(--star);
  border-radius: 50%;
  transition: all 0.15s ease-in-out 0s;
}

.range-slider input[type="range"]::-moz-range-thumb:hover,
.range-slider input[type="range"]:active::-moz-range-thumb {
  box-shadow: 0 0 0 2px #fff, 0 0 10px #000;
}

.range-slider .range-value {
  color: #fff;
  background: var(--star);
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  line-height: 35px;
  padding: 0 20px 0 10px;
  margin-right: -5px;
  border-radius: 15px;
  display: inline-block;
  position: relative;
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.unit {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 35px;
  height: 35px;
  margin-left: 5px;
  display: inline-block;
  position: relative;
}

::-moz-range-track {
  background: transparent;
  border: 0;
}

.green-planet .range-slider input[type="range"]::-webkit-slider-thumb {
  border: 4px solid var(--planet);
}

.ff-img-1 {
  width: 250px;
  height: 250px;
  background-image: url(../planet-png-hd-terran1-png-2200.png);
  background-repeat: no-repeat;
  background-size: 250px 250px;
  display: inline-block;
  animation: rotate 5s infinite;
  z-index: 2;
  position: absolute;
  left: 250px;
}

.ff-img-2 {
  width: 250px;
  height: 250px;
  background-image: url(../580b585b2edbce24c47b2709.png);
  background-repeat: no-repeat;
  background-size: 250px 250px;
  display: inline-block;
  animation: rotate 5s infinite;
  z-index: 1;
  left: 125px;
  position: absolute;
}

.ff-img-3 {
  width: 500px;
  height: 250px;
  background-image: url(../saturn-4314403_960_720.png);
  background-repeat: no-repeat;
  background-size: 500px 250px;
  display: inline-block;
  animation: rotate 5s infinite;
  z-index: 0;
  position: absolute;
  left: -150px;
}

.future-feature {
  position: relative;
}

.model>canvas {
  filter: drop-shadow(5px 10px 6px #555);
}

.dropdown-menu .config {
  margin-left: 25px;
}

.dropdown-item .range-slider {
  margin: 0 15px;
}


#div-loading, #loading-text, #loading-background
{

    overflow: hidden;

    position: absolute;

    border-radius: 50%;

    margin: 0 auto;

}

#loading {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(127, 140, 141, .8);
}

#div-loading
{
  position: absolute;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

    width: 280px;
    height: 280px;

    background-color: rgba(44, 62, 80, 1);

}


#loading-text
{

    z-index: 1;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-size: 20px;

    box-sizing: border-box;

    width: 150px;
    height: 150px;
    background-size: 150px 150px;
    background-image: url('https://i.imgur.com/XMTQv6T.png');
    color: white;

    text-align: center;

    line-height: 140px;

}

#loading-background
{

    z-index: 0;

    width: 270px;
    height: 270px;

    background-image: url('http://i.imgur.com/eMq5Gds.png');

    background-repeat: no-repeat;

    background-position: 12px 91px;

    background-size: 30px 67px;

    -webkit-animation: turningspaceship 1.5s ease-in-out infinite; /* Chrome, Safari, Opera */
    animation: turningspaceship 1.5s ease-in-out infinite;

}

@-webkit-keyframes turningspaceship {
    from {transform: rotate(270deg);}
    to {transform: rotate(630deg);}
}


@keyframes turningspaceship {
    from {transform: rotate(270deg);}
    to {transform: rotate(630deg);}
}

.keys {
  width: 60px;
  height: 60px;
  background: #333;
  border-radius: 15px;
  color: white;
  line-height: 60px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.config-block {
  position: relative;
}

.hint {
  display: none;
  background: var(--star);
  position: absolute;
  bottom: -35px;
  left: 48%;
  transform: translateX(-50%);
  border-radius: 5px;
  color: white;
  white-space: nowrap;
  padding: 3px 6px;
}

.hint::after {
  content: '';
  border-width: 0 30px 20px 30px;
  width: 0;
  height: 0;
  position: absolute;
  border-style: solid;
  border-color: transparent transparent #d63031 transparent;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}